<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="app/static/css/styles.css">
</head>
<body>
    <div class="background">
        <h1>TODOLIST</h1>
            <div style="display: flex; flex-direction: column; min-height: 80vh">
                <div class="container">
                    {% block content %}
                      Hello! {{ name }}
                    {% endblock %}
                </div>
                <ul>
                    {% for item in items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </div>
            <br>
            <hr>
    </div>
    
</body>
</html>
