<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/app/static/css/styles.css">
    <link rel="icon" href="/app/static/image/todo.ico" type="image/x-icon">
</head>
<body>
    <div class="background">
        <!-- タイトルとメニューを適切に配置 -->
        <div class="header">
            <h1>TODOLIST</h1>  
            <button id="menu-toggle" class="hamburger">&#9776;</button>
        </div>

        <nav id="menu" class="menu">
            <ul>
                <li><a href="/todo?completed=false">未完了リスト</a></li>
                <li><a href="/todo?completed=true">完了済みリスト</a></li>
                <li><a href="/tag">タグリスト</a></li>
            </ul>
        </nav>

        <div style="display: flex; flex-direction: column; min-height: 80vh">
            <div>
                Hello! {{ name }}
            </div>
        {%- block content %}{% endblock %}
        </div>
    </div>
    <script src="app/static/js/script.js"></script>
</body>
</html>
